* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161A20;
    color: #E8F0F4;
    /* background-color: #E8F0F4;
    color: #161A20; */
}

/* Landing Page */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    height: 70vh;
}



.hero-section h1 {
    font-size: 2.125rem;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 1.5em;
}

.hero-img {
    height: 150px;
}

.cta-link,
input[type="submit"] {
    background-color: #08A4F6;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 5px;
}

/* Predict Page */

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 60%;
    margin: auto;
    flex-direction: column;
}

.input-container input {
    width: 100%;
    padding: 4px 8px;
    border-radius: 5px;
    margin: 5px;
}

.form-section h1 {
    font-size: 2.125rem;
    margin: 10px 0;
}

.results-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.btn-container {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    /* margin: 1em 0 3em 0; */
}

.btn-container button {
    margin: 0 3em;
}

.bar-chart-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    height: 60vh;
    align-items: center;
}

.prediction-results {
    margin: 2%;
}

.results-player-comparable {
    margin: 4em 0;
}

.results-section h1 {
    margin-top: 2em;
}


/* PLAYER COMP SECTION */

.player-comp-section {
    height: 50vh;
    width: 80%;
    margin: auto;
}

.comparison-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin: 2em 0;
}

.player-comp-section h1 {
    text-align: center;
    margin: 2em
}

/* Table */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    /* min-width: 400px; */
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #222;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3ff;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #222
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #222;
}