/* Header + Navbar*/
header {
    width: 100vw;
    display: flex;
    justify-content: center;
}

nav {
    width: 90%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    font-size: 1.2rem;
    padding-top: 15px;
}

.nav-left {
    display: flex;
}

.nav-left p {
    padding-left: 10px;
}

.mlb-logo {
    height: 50px;
}



.nav-right {
    display: flex;
    align-items: center;
}


.nav-right a {
    margin: 0 10px;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    color: #000;
}

.nav-cta {
    text-align: center;
}

/* Landing Page*/


.hero-section {
    height: 60%;
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.6;
}

.hero-article {
    border: 1px solid;
    padding: 80px;
    border-radius: 5px;
}

.hero-section h1 {
    font-size: 2.5rem;
}

.hero-article p:nth-of-type(1) {
    font-size: 1.8rem;
}

.hero-article p:nth-of-type(2) {
    margin-bottom: 10px;
}


.hero-article a {
    text-decoration: none;
    color: #000;
    border: 1px solid;
    padding: 5px 15px;

}

/*Media Queries for screen sizes*/
@media only screen and (max-width: 600px) {
    .mlb-logo {
        height: 30px;
    }

    nav p,
    a {
        font-size: 0.8rem
    }

    .nav-right a {
        margin: 0 5px;
    }
}

@media only screen and (max-width: 700px) {
    nav {
        font-size: 1rem
    }
}