* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161A20;
    color: #E8F0F4;
    /* background-color: #E8F0F4;
    color: #161A20; */
}

/* Landing Page */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    height: 70vh;
}



.hero-section h1 {
    font-size: 2.125rem;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 1.5em;
}

.hero-img {
    height: 150px;
}

.cta-link,
input[type="submit"] {
    background-color: #08A4F6;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 5px;
}

/* Predict Page */

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 60%;
    margin: auto;
    flex-direction: column;
}

.input-container input {
    width: 100%;
    padding: 4px 8px;
    border-radius: 5px;
    margin: 5px;
}

.form-section h1 {
    font-size: 2.125rem;
    margin: 10px 0;
}

.results-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 80%;
    margin: auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-container button {
    margin: 0 10px;
}

.bar-chart-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    height: 60vh;
    align-items: center;
    /* width: 100%; */
    /* max-width: 800px; */
    /* height: 400px; */
}

/* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(-45deg, #1B1D2A, #2C2F40, #4a506c, #3A3D55);
    background-size: 400% 400%;
    animation: gradientBG 30s ease infinite;
} */

/* @keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */


/* Header + Navbar*/
/* header {
    width: 100vw;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    border-bottom: 1px solid rgba(245, 222, 179, 0.598);
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    font-size: 1.2rem;
    padding-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav-left {
    display: flex;
}

.nav-left p {
    padding-left: 10px;
}

.mlb-logo {
    height: 50px;
}



.nav-right {
    display: flex;
    align-items: center;
}


.nav-right a {
    margin: 0 10px;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    color: #000;
}

.nav-cta {
    text-align: center;
} */

/* Landing Page*/
/* Hero - top */
/* .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.hero-top {
    padding-top: 40px;
    height: 80vh;
}

.hero-top h1 {
    text-align: center;
    font-size: 2rem;
}


.hero-article {
    color: whitesmoke;
    font-weight: bolder;
    align-items: center;
    width: 80%;
    margin: auto;
}

.hero-article h1 {
    padding-bottom: 20px;

}

.img-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-article .logo {
    height: 200px;
}

.img-article h1 {
    padding: 20px;
    color: whitesmoke;
    font-weight: bolder;
}


.img-article .btn {
    background-color: wheat;
    width: 20%;
    padding: 10px 20px;
    border-radius: 5px;
    color: #1B1D2A;
    border: none;
    font-size: 1.2rem;
    text-align: center;

}

.img-article .btn:hover {
    padding: 15px 30px;
    transition: 0.5s;
    font-size: 1.4rem;
} */



/* Predict Page*/

/* .form-section {
    width: 60%;
    height: 80vh;
    display: flex;
    align-items: center;
    margin: auto;
}

.input-container input {
    width: 100%;
}

.form-section label {
    color: whitesmoke;
}

.form-section input {
    margin: 5px 0;
}

input[type="submit"] {
    background-color: wheat;
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: rgba(245, 222, 179, 0.644);
    transition: 0.5s;
    cursor: pointer;
}

form {
    height: 80%;
}

footer {
    display: flex;
    height: 8vh;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(245, 222, 179, 0.598);
}


.results-article {
    border: 1px solid white;
    height: 80%;
    width: 50%;
} */

/*Media Queries for screen sizes*/
/* @media only screen and (max-width: 600px) {
    .mlb-logo {
        height: 30px;
    }

    nav p,
    a {
        font-size: 0.8rem
    }

    .nav-right a {
        margin: 0 5px;
    }
}

@media only screen and (max-width: 700px) {
    nav {
        font-size: 1rem
    }
} */