* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main {
    height: 100vh;
    background-color: #F3EFDE;
} */

/* main {
    height: 100vh;
    background-color: #DFD5BA;
} */

main {
    height: 100vh;
    /* background-color: #E6D5B5; */
}